<div class="header bg-gradient-danger pb-7 pt-md-7">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div class="card card-stats mb-4 mb-xl-0 border border-5 border-primary">
          <div class="card-body">
            <form role="form">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="inlineRadio1"
                      value="all"
                      (change)="handleChangeDate($event)"
                    />
                    <label class="form-check-label" for="inlineRadio1">Todos os pedidos</label>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="inlineRadio2"
                      value="today"
                      (change)="handleChangeDate($event)"
                    />
                    <label class="form-check-label" for="inlineRadio2">Pedidos de hoje</label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label class="custom-label">Data de início</label>
                  <input
                    class="form-control input-sm"
                    id="start-date"
                    type="date"
                    name="initialDate"
                    (change)="handleChangeDate($event)"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label class="custom-label">Data de fim</label>
                  <input
                    class="form-control input-sm"
                    id="end-date"
                    type="date"
                    name="finalDate"
                    (change)="handleChangeDate($event)"
                  />
                </div>
              </div>
              <div>
                <button type="button" (click)="handleClickDates()" class="btn btn-primary my-1">
                  Pesquisar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <!-- Dark table -->
  <div class="row mt-5">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">
            Tabela de Pedidos
            <div class="btn-group float-right" ngbDropdown>
              <button type="button" class="btn btn-{{ colorStatus }}">
                Fitrar pedidos:
                <span class="text-uppercase">{{ status }} - {{ lengthByStatus(status) }}</span>
              </button>
              <button
                type="button"
                class="btn btn-{{ colorStatus }} btn-icon-only text-light"
                ngbDropdownToggle
              >
                <i class="fa fa-chevron-circle-down"></i>
              </button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <a class="dropdown-item" (click)="handleStatus('TUDO')">TUDO</a>
                <a class="dropdown-item" (click)="handleStatus('EM ABERTO')">EM ABERTO</a>
                <a class="dropdown-item" (click)="handleStatus('REJEITADO')">REJEITADO</a>
                <a class="dropdown-item" (click)="handleStatus('CANCELADO')">CANCELADO</a>
                <a class="dropdown-item" (click)="handleStatus('RECOLHIDO')">RECOLHIDO</a>
                <a class="dropdown-item" (click)="handleStatus('AGUARDANDO PAGAMENTO')"
                  >AGUARDANDO PAGAMENTO</a
                >
                <a class="dropdown-item" (click)="handleStatus('PAGO')">PAGO</a>
                <a class="dropdown-item" (click)="handleStatus('FINALIZADO')">FINALIZADO</a>
              </div>
            </div>
          </h3>
        </div>

        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th
                  class="text-center"
                  scope="col"
                  *ngFor="let head of tableHeads; index as i; first as isFirst"
                >
                  {{ head.title }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of ordersFiltered; index as i; first as isFirst">
                <th scope="row" class="text-center">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ order.id }}</span>
                    </div>
                  </div>
                </th>
                <td class="text-center">{{ order.data }}</td>
                <td class="text-center">{{ order.deadline }}</td>
                <td class="text-center">{{ order.status }}</td>
                <td class="text-center">R${{ order.price }}</td>
                <td class="text-center">
                  <div
                    *ngIf="
                      order.status == 'EM ABERTO' ||
                      order.status == 'RECOLHIDO' ||
                      order.status == 'PAGO'
                    "
                    ngbDropdown
                    placement="bottom-right"
                  >
                    <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
                      <button
                        class="dropdown-item"
                        href="javascript:void(0)"
                        (click)="
                          toggleModal(
                            order.id,
                            order.status == 'EM ABERTO'
                              ? 'RECOLHIDO'
                              : order.status == 'RECOLHIDO'
                              ? 'AGUARDANDO PAGAMENTO'
                              : order.status == 'PAGO'
                              ? 'FINALIZADO'
                              : undefined
                          )
                        "
                      >
                        {{
                          order.status == 'EM ABERTO'
                            ? 'Recolher pedido'
                            : order.status == 'RECOLHIDO'
                            ? 'Confirmar lavagem'
                            : order.status == 'PAGO'
                            ? 'Finalizar pedido'
                            : 'Sem ação'
                        }}
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" [ngClass]="{ 'd-block': showModal }" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">
          Deseja realmente confirmar
          {{
            modalType === 'RECOLHIDO'
              ? 'recolhimento'
              : modalType === 'AGUARDANDO PAGAMENTO'
              ? 'lavagem'
              : 'finalização'
          }}
          deste pedido?
        </h3>
        <button type="button" class="close" (click)="toggleModal()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success float-right" (click)="confirmarAcao()">
          Confirmar
        </button>
        <button type="button" class="btn btn-danger" (click)="toggleModal()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
