<div class="header bg-gradient-danger pb-7 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row">
        <div class="col-6">
          <div class="row d-flex align-items-center mb-2">
            <div class="col-auto">
              <div class="icon icon-shape bg-white text-danger rounded-circle shadow">
                <i class="fa fa-shopping-cart"></i>
              </div>
            </div>
            <div class="col">
              <h2 class="text-white">Pesquise pelo número do pedido</h2>
            </div>
          </div>

          <div class="card card-stats mb-4 mb-xl-0 border border-5 border-primary">
            <div class="card-body">
              <form role="form">
                <div class="form-group mb-0">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                    <input class="form-control" placeholder="Pedido" type="number" min="1" />
                  </div>
                </div>
                <div>
                  <button type="button" class="btn btn-primary my-4">Pesquisar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <!-- Table -->

  <!-- Dark table -->
  <div class="row mt-5">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Detalhes do pedido</h3>
        </div>

        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col" *ngFor="let head of tableHeads; index as i; first as isFirst">
                  {{ head.title }}
                </th>
                <th scope="col">número do pedido</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders; index as i; first as isFirst">
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ order.orderId }}</span>
                    </div>
                  </div>
                </th>
                <td>{{ order.date }}</td>
                <td>{{ order.status }}</td>
                <td>
                  <span class="badge badge-dot mr-4">
                    {{ order.price }}
                  </span>
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Pagar</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
