<div class="header bg-gradient-danger pb-7 pt-5 pt-md-7">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row">
        <div class="col-6">
          <div class="card card-stats mb-4 mb-xl-0 border border-5 border-primary">
            <div class="card-body">
              <form role="form">
                <div class="form-group mb-0">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                    <input class="form-control" placeholder="Pedido" type="number" min="1" />
                  </div>
                </div>
                <div>
                  <button type="button" class="btn btn-primary my-4" (click)="handleSearch()">
                    Pesquisar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row mt-5">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Detalhes do pedido</h3>
        </div>

        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col" *ngFor="let head of tableHeads; index as i; first as isFirst">
                  {{ head.title }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="isTableVisible">
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ purchase.id }}</span>
                    </div>
                  </div>
                </th>
                <td>{{ purchase.deadline }}</td>
                <td>
                  <span class="badge badge-dot mr-4">
                    {{ purchase.status }}
                  </span>
                </td>
                <td>{{ purchase.price }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Roupas do pedido</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col" *ngFor="let head of clothesHeads; index as i; first as isFirst">
                  {{ head.title }}
                </th>
              </tr>
            </thead>
            <tbody *ngIf="isTableVisible">
              <tr *ngFor="let item of purchase.items; index as i; first as isFirst">
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ item.name }}</span>
                    </div>
                  </div>
                </th>
                <td>
                  <span class="badge badge-dot mr-4">
                    {{ item.quantity }}
                  </span>
                </td>
                <td>{{ item.price }}</td>
                <td>{{ item.deadline }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
