<div class="header bg-gradient-danger pb-7 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4">
        <div class="card card-stats mb-4 mb-xl-0 border border-5 border-primary">
          <div class="card-body">
            <form role="form">
              <h3>Relatório de Receita</h3>
              <div class="border-top border-light pt-3">
                <button
                  type="button"
                  class="btn btn-primary my-1"
                  routerLinkActive="active"
                  [routerLink]="['/receita']"
                >
                  Gerar relatório
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card card-stats mb-4 mb-xl-0 border border-5 border-primary">
          <div class="card-body">
            <form role="form">
              <h3>Relatório de Clientes</h3>
              <div class="border-top border-light pt-3">
                <button
                  type="button"
                  class="btn btn-primary my-1"
                  routerLinkActive="active"
                  [routerLink]="['/clientes']"
                >
                  Gerar relatório
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card card-stats mb-4 mb-xl-0 border border-5 border-primary">
          <div class="card-body">
            <form role="form">
              <h3>Relatório de Clientes Fiéis</h3>
              <div class="border-top border-light pt-3">
                <button
                  type="button"
                  class="btn btn-primary my-1"
                  routerLinkActive="active"
                  [routerLink]="['/fieis']"
                >
                  Gerar relatório
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
