<div class="header bg-gradient-danger pb-7 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
       
      </div>
      <div class="row">
        <div class="col-6">
          <div class="row d-flex align-items-center mb-2">
            <div class="col-auto">
              <div class="icon icon-shape bg-white text-danger rounded-circle shadow">
                <i class="fa fa-search"></i>
              </div>
            </div>
            <div class="col">
              <h2 class="text-white">Relatórios</h2>
            </div>
          </div>
  
          <div class="card card-stats mb-4 mb-xl-0 border border-5 border-primary">
            <div class="card-body">
              <form role="form">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Relatorio de receita</label>
                    </div>
                </div>
                <div class="form-row border-top border-light pt-3">
                  <div class="form-group col-md-6">
                    <label class="custom-label">Data de início</label>
                    <input
                      class="form-control input-sm"
                      id="start-date"
                      type="date"
                      name="initialDate"
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label class="custom-label">Data de fim</label>
                    <input
                      class="form-control input-sm"
                      id="end-date"
                      type="date"
                      name="finalDate"
                    />
                  </div>
                </div>
                <div>
                  <button type="button" class="btn btn-primary my-1">
                    Gerar relatório
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
<div class="header bg pb-7 pt-5 pt-md-0">
    <div class="container-fluid">
        <div class="row">
        <div class="col-6">
            <div class="card card-stats mb-4 mb-xl-0 border border-5 border-primary">
               <div class="card-body">
                <form role="form">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Relatorio de clientes</label>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-primary my-1">
                      Gerar relatório
                    </button>
                </div>
                </form>
               </div>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="header bg pb-7 pt-5 pt-md-0">
    <div class="container-fluid">
        <div class="row">
        <div class="col-6">
            <div class="card card-stats mb-4 mb-xl-0 border border-5 border-primary">
               <div class="card-body">
                <form role="form">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Relatorio de clientes fiéis</label>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-primary my-1">
                      Gerar relatório
                    </button>
                </div>
                </form>
               </div>
            </div>
        </div>
        </div>
    </div>
</div>