<div class="header bg-gradient-danger pb-7 pt-12 pt-md-7"></div>

<div class="container-fluid mt--7">
  <!-- Dark table -->
  <div class="row mt-5">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">
            Pedidos
            <div class="btn-group float-right" ngbDropdown>
              <button type="button" class="btn btn-{{ colorStatus }}">
                Fitrar pedidos:
                <span class="text-uppercase">{{ status }} - {{ lengthByStatus(status) }}</span>
              </button>
              <button
                type="button"
                class="btn btn-{{ colorStatus }} btn-icon-only text-light"
                ngbDropdownToggle
              >
                <i class="fa fa-chevron-circle-down"></i>
              </button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <a class="dropdown-item" (click)="handleStatus('tudo')">Tudo</a>
                <a class="dropdown-item" (click)="handleStatus('aberto')">Aberto</a>
                <a class="dropdown-item" (click)="handleStatus('rejeitado')">Rejeitado</a>
                <a class="dropdown-item" (click)="handleStatus('aguardando')">Aguardando</a>
                <a class="dropdown-item" (click)="handleStatus('cancelado')">Cancelado</a>
              </div>
            </div>
          </h3>
        </div>

        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col" *ngFor="let head of tableHeads; index as i; first as isFirst">
                  {{ head.title }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders; index as i; first as isFirst">
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ order.orderId }}</span>
                    </div>
                  </div>
                </th>
                <td>{{ order.date }}</td>
                <td>{{ order.status }}</td>
                <td>
                  <span class="badge badge-dot mr-4">
                    {{ order.price }}
                  </span>
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)" (click)="openModalPagar()"
                        >Pagar</a
                      >
                      <a
                        class="dropdown-item"
                        href="javascript:void(0)"
                        (click)="openModalCancelar()"
                        >Cancelar</a
                      >
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" [ngClass]="{ 'd-block': showModalPagar }" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Deseja realmente confirmar o pagemento deste pedido?</h5>
        <button type="button" class="close" (click)="closeModalPagar()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeModalPagar()">Cancelar</button>
        <button type="button" class="btn btn-success float-right" (click)="closeModalPagar()">
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" [ngClass]="{ 'd-block': showModalCancelar }" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Deseja realmente confirmar o cancelamento deste pedido?</h5>
        <button type="button" class="close" (click)="closeModalCancelar()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeModalCancelar()">
          Cancelar
        </button>
        <button type="button" class="btn btn-success float-right" (click)="closeModalCancelar()">
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>
