<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>

<div class="container-fluid mt--9"></div>

<div class="container-fluid mt--5">
  <div class="row mt-5">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0 d-flex justify-content-between">
          <h3 class="text-white mb-0">Funcionários registrados - {{ funcionarios.length }}</h3>
          <a id="add_row" class="btn btn-primary" (click)="toggleModal('adicionar')"
            >Adicionar funcionário</a
          >
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col" *ngFor="let head of tableHeads; index as i; first as isFirst">
                  {{ head.title }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let func of funcionarios; index as i; first as isFirst">
                <td scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ func.id }}</span>
                    </div>
                  </div>
                </td>
                <td>{{ func.name }}</td>
                <td>{{ func.email }}</td>
                <td>{{ func.birth_date }}</td>
                <td>
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
                      <a
                        class="dropdown-item"
                        href="javascript:void(0)"
                        (click)="toggleModal('editar', func.id)"
                        >Editar</a
                      >
                      <a
                        class="dropdown-item"
                        href="javascript:void(0)"
                        (click)="toggleExcluir(func.id)"
                        >Excluir</a
                      >
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" [ngClass]="{ 'd-block': showModalExcluir }" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Deseja realmente excluir este funcionário?</h5>
        <button type="button" class="close" (click)="closeModalExcluir()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-success float-right"
          (click)="confirmacaoExcluir(true)"
        >
          Confirmar
        </button>
        <button type="button" class="btn btn-danger" (click)="confirmacaoExcluir(false)">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" [ngClass]="{ 'd-block': showModal }" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2>
          {{ modalType == 'adicionar' ? 'Adicionar novo funcionário' : 'Edição de funcionário' }}
        </h2>
        <button type="button" class="close" (click)="toggleModal()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #formFuncionario="ngForm">
          <div class="form-row">
            <div data-name="nome" class="form-group col-md-12">
              <label for="name">Nome</label>
              <input
                id="name"
                name="name"
                placeholder="Nome do funcionario"
                class="form-control"
                type="text"
                [(ngModel)]="funcionario.name"
                #name="ngModel"
              />
            </div>
            <div data-name="email" class="form-group col-md-12">
              <label for="email">E-mail</label>
              <input
                id="email"
                name="email"
                placeholder="E-mail do funcionario"
                class="form-control"
                type="email"
                [(ngModel)]="funcionario.email"
                #email="ngModel"
              />
            </div>
            <div data-name="birth_date" class="form-group col-md-12">
              <label for="birth_date">Data de nascimento do funcionário</label>
              <input
                id="birth_date"
                name="birth_date"
                placeholder="Data de nascimento do funcionario"
                class="form-control"
                type="date"
                [(ngModel)]="funcionario.birth_date"
                #birth_date="ngModel"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success float-right" (click)="toggleSalvar()">
          Adicionar
        </button>
        <button type="button" class="btn btn-danger" (click)="toggleModal()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
