<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body"></div>
  </div>
</div>

<div class="container-fluid mt--7"></div>

<div class="container-fluid mt--5">
  <div class="row mt-5" #conteudo>
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Todos os clientes</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col" *ngFor="let head of tableHeads; index as i; first as isFirst">
                  {{ head.title }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of cliente; index as i; first as isFirst">
                <td scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ cliente.codigo }}</span>
                    </div>
                  </div>
                </td>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.CPF }}</td>
                <td>{{ cliente.telefone }}</td>
                <td>{{ cliente.CEP }}</td>
                <td>{{ cliente.UF }}</td>
                <td>{{ cliente.cidade }}</td>
                <td>{{ cliente.rua }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-12 table-responsive">
      <table class="table align-items-center">
        <tbody>
          <tr id="addr0" data-id="0" class="hidden">
            <td class="float-right">
              <button class="btn btn-primary" (click)="gerarPDF()">Gerar relatório PDF</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
