<div class="header bg-gradient-danger pb-8 pt-5 pt-md-7"></div>

<div class="container-fluid mt--7">
  <div class="container">
    <div class="row clearfix">
      <div class="card bg-default shadow">
        <div
          class="card-header bg-transparent border-0 d-flex justify-content-between align-items-center"
        >
          <h2 class="text-white mb-0">Faça seu pedido</h2>
          <div class="p-2">
            <a id="add_row" class="btn btn-primary">Adicionar produto no pedido</a>
          </div>
        </div>
        <div class="col-md-12 table-responsive">
          <table class="table align-items-center table-dark table-flush" id="tab_logic">
            <thead class="thead-dark">
              <tr>
                <th class="text-center">Produto</th>
                <th class="text-center">Quantidade</th>
                <th class="text-center">Valor</th>
                <th class="text-center">Prazo</th>
                <th class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <tr id="addr0" data-id="0" class="hidden">
                <td data-name="name">
                  <select name="sel0" class="form-control">
                    <option *ngFor="let option of options" value="{{ option.value }}">
                      {{ option.label }}
                    </option>
                  </select>
                </td>
                <td data-name="name">
                  <input
                    type="number"
                    name="quantidade"
                    placeholder="Quantidade"
                    class="form-control"
                  />
                </td>
                <td data-name="desc">
                  <input
                    type="text"
                    name="valor"
                    placeholder="Valor"
                    class="form-control"
                    readonly="true"
                  />
                </td>
                <td data-name="sel">
                  <input
                    type="text"
                    name="prazo"
                    placeholder="Prazo"
                    class="form-control"
                    readonly="true"
                  />
                </td>
                <td data-name="del">
                  <button name="del0" class="btn btn-danger glyphicon glyphicon-remove row-remove">
                    <span aria-hidden="true">Remover</span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br />

    <div class="row clearfix">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h2 class="text-white mb-0">Resumo do pedido</h2>
        </div>
        <div class="col-md-12 table-responsive">
          <table class="table align-items-center table-dark table-flush" id="tab_logic">
            <thead class="thead-dark">
              <tr>
                <th class="text-center">Valor final</th>
                <th class="text-center">Prazo total</th>
                <th class="text-center">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr id="addr0" data-id="0" class="hidden">
                <td>
                  <input
                    type="text"
                    name="valorfinal"
                    placeholder="Valor final"
                    class="form-control float-left"
                    readonly="true"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    name="prazototal"
                    placeholder="Prazo total"
                    class="form-control float-left"
                    readonly="true"
                  />
                </td>
                <td class="d-flex justify-content-center">
                  <a
                    class="btn btn-success"
                    id="autoclosable-btn-success"
                    (click)="openModalAprovar()"
                  >
                    Aceitar orçamento
                  </a>
                  <a
                    class="btn btn-danger"
                    id="autoclosable-btn-danger"
                    (click)="openModalRejeitar()"
                  >
                    Rejeitar orçamento
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" [ngClass]="{ 'd-block': showModalRejeitar }" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Deseja realmente rejeitar este pedido?</h5>
        <button type="button" class="close" (click)="closeModalRejeitar()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeModalRejeitar()">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-success float-right"
          (click)="closeModalRejeitar()"
          routerLinkActive="active"
          [routerLink]="['/client']"
        >
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" [ngClass]="{ 'd-block': showModalAprovar }" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Deseja realmente aprovar este pedido?</h5>
        <button type="button" class="close" (click)="closeModalAprovar()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeModalAprovar()">Cancelar</button>
        <button
          type="button"
          class="btn btn-success float-right"
          (click)="closeModalAprovar()"
          routerLinkActive="active"
          [routerLink]="['/client']"
        >
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>
