<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>

<div class="container-fluid mt--9"></div>

<div class="container-fluid">
  <div class="row mt-5" #conteudo>
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Relatório de receita</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th
                  class="text-center"
                  scope="col"
                  *ngFor="let head of tableHeads; index as i; first as isFirst"
                >
                  {{ head.title }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pedido of receita">
                <th class="text-center" scope="row">
                  {{ pedido.id }}
                </th>
                <td class="text-center">{{ pedido.usuarioId }}</td>
                <td class="text-center">{{ pedido.data }}</td>
                <td class="text-center">R${{ pedido.price }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-12 table-responsive">
      <table class="table align-items-center">
        <tbody>
          <tr id="addr0" data-id="0" class="hidden">
            <td>
              <label for="valorFinal">Receita dos pedidos acima</label>
              <input
                id="valorFinal"
                name="valorfinal"
                value="R${{ finalPrice }}"
                placeholder="Valor final total"
                class="form-control float-left"
                disabled
              />
            </td>
            <td class="float-right">
              <button class="btn btn-primary" (click)="voltar()">Voltar</button>
            </td>
            <td class="float-right">
              <button class="btn btn-primary" (click)="gerarPDF()">Gerar relatório PDF</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
