<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>

<div class="container-fluid mt--7"></div>

<div class="container-fluid">
  <div class="row mt-5" #conteudo>
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Receita do dia 07/05/2023 até o dia 16/05/2023</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col" *ngFor="let head of tableHeads; index as i; first as isFirst">
                  {{ head.title }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let receita of receita; index as i; first as isFirst">
                <td scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ receita.pedido }}</span>
                    </div>
                  </div>
                </td>
                <td>{{ receita.cliente }}</td>
                <td>{{ receita.valor }}</td>
                <td>{{ receita.quantidade }}</td>
                <td>{{ receita.data }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-12 table-responsive">
      <table class="table align-items-center">
        <tbody>
          <tr id="addr0" data-id="0" class="hidden">
            <td>
              <input
                type="text"
                name="valorfinal"
                placeholder="Valor final total"
                class="form-control float-left"
                readonly="true"
              />
            </td>
            <td class="float-right">
              <button class="btn btn-primary" (click)="gerarPDF()">Gerar relatório PDF</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
